body {
    background: #fff;
    font-family: 'Nunito', sans-serif;
}

.reservation-title {

    color: #1E1033;

    font-size: 38px;
    font-weight: 900;
}

.reservation-subtitle {

    color: #9580B8;

    font: 700 12px 'Space Mono',
        monospace;
}

.reservation-card {

    background: #fff;

    border: 2px solid #DDD6F3;

    border-radius: 24px;

    padding: 40px;

    box-shadow:
        0 2px 8px rgba(124, 58, 237, .1);

}

.form-label {

    color: #1E1033;

    font-weight: 800;
}

.form-control,
.form-select {

    height: 55px;

    border: 2px solid #DDD6F3;

    border-radius: 16px;
}

.form-control:focus,
.form-select:focus {

    border-color: #006FEE;

    box-shadow:
        0 0 0 .25rem rgba(124, 58, 237, .15);
}

.snack-box {

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.snack-box label {

    padding: 14px;

    border: 2px solid #DDD6F3;

    border-radius: 14px;

    cursor: pointer;
}

.total-box {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 35px;
    margin-bottom: 25px;

    padding: 20px;

    background: #F7F3FF;

    border-radius: 18px;

    font-size: 20px;
    font-weight: 900;

    color: #1E1033;
}

#total {
    color: #006FEE;
}

.btn-book {

    width: 100%;

    border: none;
    border-radius: 16px;

    padding: 16px;

    background: #006FEE;

    color: #fff;

    font-size: 15px;
    font-weight: 800;

    transition: .2s;
}

.btn-book:hover {

    background: #A78BFA;
}

.is-invalid {
    border: 2px solid #EF4444 !important;
}

.invalid-feedback {
    display: block;
    color: #EF4444;
    font-size: 13px;
}